.general-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    align-items: start;
}

.card-container {
    width: 500px
}

#search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.button-box {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: white;
}

a, 
.form-button {
    color: hsl(348, 100%, 61%);
}